.contact-form {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    align-items: center;
}

.contact-form section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    min-height: 30px;
    width: 275px;
}

textarea {
    min-height: 100px;
}

.bg-blue {
    padding: 30px 0px;
}

@media only screen and (min-width: 601px){
    .contact-form {
        grid-template-columns: auto auto;
    }
    
}
