section{
    padding: 10px 0px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 20px 0px;
        margin: 20px;
        background-color: #FFF;
    }

    .grid-item h3, .grid-item p{
        width: 80%;
    }

    .grid-container img {
        padding: 0px 10px;
    }

    .grid-container p {
        max-width: 80%;
    }

    .cta {
        margin: 10px;
    }

    .cta-double {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 10px;
        margin: 10px;
    }

    .grid-container img {
        padding: 0px 15px;
    }

    .cta {
        margin: 10px;
    }

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .explore, .kids {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 10px;
    }

    .cta {
        margin: 10px;
    }
}

@media only screen and (min-width: 1201px) {
    
    .explore, .kids {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 10px;
    }

    .cta {
        margin: 10px;
    }

}