section{
    padding: 10px 0px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 5px 0px;
        margin: 5px;
    }

    .grid-item h3, .grid-item p{
        width: 80%;
    }

    .grid-container p {
        max-width: 80%;
    }

    .adults {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .adult {
        padding: 30px 0px;
    }

    .cta {
        margin: 10px;
    }

    .cta-double {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 10px;
        margin: 10px;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 10px 0px;
        margin: 5px;
    }

    .grid-item h3, .grid-item p{
        width: 90%;
    }

    .adults {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .cta {
        margin: 10px;
    }

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .explore {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }
    
    .kids {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .explore p, 
    .kids p {
        padding: 8px 15px;
    }

    .kids h2,
    .bg-purple h2 {
        padding: 0px 15px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 10px 0px;
        margin: 5px;
    }

    .grid-item h3, .grid-item p{
        width: 90%;
    }

    .adults {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .adult {
        padding: 30px 30px;
    }

    .cta {
        margin: 10px;
    }
}

@media only screen and (min-width: 1201px) {
    
    .explore, .kids {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .explore p, 
    .kids p {
        padding: 8px 15px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 10px;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 10px 0px;
        margin: 10px;
    }

    .grid-item h3, .grid-item p{
        width: 90%;
    }

    .adults {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .adult {
        padding: 30px 30px;
    }

    .kids h2,
    .bg-purple h2 {
        padding: 0px 15px;
    }

    .cta {
        margin: 10px;
    }

}