.image {
    display: flex;
    justify-content: center;
}

.inspiration {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.inspiration div {
    max-width: 340px;
}

.kids {
    display: grid;
}

.adults {

}



@media only screen and (min-width: 901px) {

    .explore {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}