@media only screen and (min-width: 300px) and (max-width: 600px) {

    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3, label {
        font-size: 16px;
    }
    
    p, a {
        font-size: 16px;
    }

    h1, h2, h3, p, footer a {
        padding: 0px 10px;
    }

    .logo {
        max-width: 240px;
        padding: 10px;
    }

    i {
        padding-right: 15px;
        padding-top: 21px;
    }

    nav {
        display: none;
        position: absolute;
        text-align: center;
        justify-content: end;
        background-color: #CE30E8;
        width: 30%;
        top: 58px;
        right:0px;
        padding: 20px;
        z-index: 1000;
    }

    nav ul {
        padding: 0px;
        list-style: none;
    }

    nav li {
        padding: 0px;
    }

    nav li a {
        color: #FFF;
    }
    
    #hamburger-menu:checked ~ nav {
        display: block;
    }

    .img-round,
    .img-round-small {
        max-width: 75%;
        border-radius: 50%;
        margin: 10px;
    }

    .img-rectangle {
        max-width: 80%;
    }

    footer {
        grid-template-columns: auto;
    }

    footer section a {
        padding-bottom: 12px;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3, label {
        font-size: 20px;
    }
    
    p, a {
        font-size: 18px;
    }

    h1, h2, h3, p, footer a {
        padding: 0px 15px;
    }

    .logo {
        max-width: 300px;
    }

    i {
        padding: 24px;
    }

    nav {
        display: none;
        position: absolute;
        text-align: center;
        justify-content: end;
        background-color: #CE30E8;
        width: 30%;
        top: 67px;
        right:0px;
        padding: 20px;
        z-index: 99;
    }

    nav ul {
        list-style: none;
        padding: 0px;
    }

    nav li {
        padding: 0px;
    }

    nav li a {
        color: #FFF;
    }

    #hamburger-menu:checked ~ nav {
        display: block;
    }

    .img-round,
    .img-round-small {
        max-width: 60%;
        border-radius: 50%;
        margin: 15px;
    }

    .img-rectangle {
        max-width: 90%;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    footer section {
        margin: 10px;
    }

    footer section a {
        padding-bottom: 18px;
    }
    
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3, label {
        font-size: 25px;
    }
    
    p, a {
        font-size: 20px;
    }

    h1, footer a {
        padding: 0px 15px;
    }

    header label {
        display: none;
    }

    .logo {
        max-width: 400px;
    }

    nav {
        display: block;
    }

    nav li {
        display: inline-block;
        padding: 13px;
    }

    .img-round,
    .img-round-small {
        max-width: 75%;
        border-radius: 50%;
        margin: 15px;
    }

    .img-rectangle {
        max-width: 90%;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer section a {
        padding-bottom: 20px;
    }
    
}

@media only screen and (min-width: 1201px) {
    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3, label {
        font-size: 25px;
    }
    
    p, a {
        font-size: 20px;
    }

    h1, footer a {
        padding: 0px 15px;
    }

    footer li {
        padding: 20px;
    }

    header label {
        display: none;
    }

    .logo {
        max-width: 450px;
    }

    nav {
        display: block;
    }

    nav li {
        display: inline-block;
        padding: 20px;
    }

    .img-round {
        max-width: 400px;
        border-radius: 50%;
        margin: 15px;
    }

    .img-round-small {
        max-width: 350px;
        border-radius: 50%;
        margin: 15px;
    }

    .img-rectangle {
        max-width: 90%;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer section a {
        padding-bottom: 20px;
    }

}