body {
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
}

/*Typography*/

h1, 
h2, 
.cta {
    font-family: Oxanium;
}

h1, h2, h3, label, .cta {
    font-weight: 600;
}

h3, label, p, a {
    font-family: 'Open Sans';
}

/*Colors*/

.bg-blue {
    background-color: #2699DA20;
}

.bg-purple {
    background-color: #CE30E820;
}

.bg-green {
    background-color: #57A81720;
}

/*Buttons and links*/

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #2699DA;
}

.cta {
    background-color: #57A817;
    color: #FFF;
    padding: 15px 30px;
}

.cta:hover {
    transform: scale(1.1);
    color: #FFF;
}

.cta-purple {
    background-color: #CE30E8;
}

.img-museum {
    width: 100%;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.active {
    color: #2699DA;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px;
}

#hamburger-menu {
    display: none;
}

nav li {
    padding: 10px;
}

/*Footer*/

.footer-grid {
    display: grid;
}

footer a {
    display: block;
}

/* Images */

.img-round, 
.img-round-small, 
.img-rectangle,
.cta {
    box-shadow: 2px 2px 15px #b2b2b2;
}

.img-rectangle, 
.cta {
    border-radius: 4px;
}