.visit {
    padding: 5px;
}

.visit-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    iframe {
        max-width: 95%;
    }
}

@media only screen and (min-width: 601px) {
    .visit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        gap: 20px;
    }

    iframe {
        max-height: 350px;
    }
}